.navbar_bg {
    width: 100%;
    padding: 15px 0;
    background-color: #fdfdfd;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.sticky_nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.logo_brand {
    color: white;
    width: 35px;
    height: 35px;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--primary-fonts);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-color);
}

.logo_text {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    font-family: var(--primary-fonts);
}

.nav_link {
    color: black;
    font-family: var(--primary-fonts);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:focus {
        color: var(--primary-color);
    }
}

.active {
    color: var(--primary-color) !important;
    font-family: var(--primary-fonts) !important;
}

.nav_btn {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--primary-fonts);
    padding: 7px 14px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease-in-out 0.3s;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
}